# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

scripts/.vscode/*
!scripts/.vscode/settings.json
!scripts/.vscode/tasks.json
!scripts/.vscode/launch.json
!scripts/.vscode/extensions.json

# Custom
source/official/*
!source/official/README.md

dist/table.md
**/Thumbs.db
/source/icon-collection
